site_name: QuanEstimation Docs
site_description: Docs of QuanEstimation
site_author: QuanEstimation
site_url: https://quanestimation.github.io/QuanEstimation/

repo_url: https://github.com/QuanEstimation/QuanEstimation

docs_dir: docs/src

# extra_javascript: []
extra_css:
      - css/style.css
      - css/material.css
      - css/mkdocstrings.css
      - css/extra.css
      - css/julia_api.css

dev_addr: 0.0.0.0:8000

markdown_extensions:
      - attr_list  # adjust the size of an imag 
      - md_in_html
      - tables
      - pymdownx.arithmatex:
              generic: true
      - fontawesome_markdown
      # - pymdownx.highligh 
      # - deduplicate-toc
      - pymdownx.tabbed:
            alternate_style: true
      # - pymdownx.emoji:
      # emoji_index: !!python/name:materialx.emoji.twemoji
      # emoji_generator: !!python/name:materialx.emoji.to_svg
      - pymdownx.highlight
            # anchor_linenums: true
      - pymdownx.inlinehilite
      - pymdownx.snippets
      - pymdownx.superfences
      - toc:
            toc_depth: 3
            permalink: true


extra_javascript:
      - javascripts/mathjax.js
      - javascripts/mathjaxhelper.js
      - https://polyfill.io/v3/polyfill.min.js?features=es6
      - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

theme:
      #readthedocs
      name: material
      icon:
            logo: material/currency-sign
      features:
            - content.code.annotate
            - navigation.tabs
            - navigation.top

      palette:
            - media: "(prefers-color-scheme: light)"
              scheme: default
              primary: teal
              accent: purple
              toggle:
                    icon: material/weather-sunny
                    name: Switch to dark mode
            - media: "(prefers-color-scheme: dark)"
              scheme: slate
              primary: black
              accent: grey
              toggle:
                    icon: material/weather-night
                    name: Switch to light mode

plugins:
      - search
      - mkdocstrings
nav:
      - "Home": index.md
      - "Installation": installation.md
      - "Users Guide": 
            - "Getting started": guide/guide_import.md
            - "Parameterization process": guide/guide_dynamics.md
            - "Quantum metrological tools": guide/guide_bounds.md
            - "Metrological resources": guide/guide_resources.md
            - "Control optimization": guide/guide_Copt.md
            - "State optimization": guide/guide_Sopt.md
            - "Measurement optimization": guide/guide_Mopt.md
            - "Comprehensive optimization": guide/guide_Compopt.md
            - "Adaptive measurement schemes": guide/guide_adaptive.md
            - "Output files": guide/output_files.md
      - "API documentation": 
            - "Python": 
                  - "Classes": API/python/classes.md
                  - "Functions": API/python/functions.md
            - "Julia": API/julia/api.md
      - "Examples": examples.md
      - "Citing": citing.md
      - "Developers": developers.md
      
